
.header {
  height: 40px;
  width: 100%;
  background-color: rgb(26, 88, 52);
};
.flex-container {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: white;
    font-weight: 550;
    margin-right: 19px;
  }
}

.topnav .login-container {
  float: right;

}



.flex-container{
display: flex;
justify-content: space-between;
align-items: center
}


